<app-header></app-header>
<app-banner></app-banner>

<app-slideArea></app-slideArea>
<simple-notifications></simple-notifications>
<!-- Start main body Area -->
<div class="main-body section-gap mt--30">
  <router-outlet></router-outlet>
</div>

<!-- Start main body Area -->

<app-footer></app-footer>

<!--<div class='container-fluid'>
  <div class='row'>
    <div class='col-sm-3'>
      <app-nav-menu></app-nav-menu>
    </div>
    <div class='col-sm-9 body-content'>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>-->
