<!-- Start header Area -->
<style>
  .primary-btn:hover {
    background: #fff;
    color: #8050fa;
    border-color: #fff;
  }

  input.ng-dirty.ng-invalid {
    border-color: #dc3545 !important;
  }
</style>

<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">-->
<modal-popup #modalPopup></modal-popup>
<header id="header">
  <div class="container box_1170 main-menu">
    <div class="row align-items-center justify-content-between d-flex">
      <div id="logo">
        <a href="index.html"><img src="../../../assets/img/logo.png" alt="" title="" /></a>
      </div>
    </div>
    <div class="post-btn" style="float:right;">
      <a class="primary-btn" (click)="modalPopup.openProjectModal(0)"><i class="fa fa-plus-circle"></i></a>
    </div>
    <!--<div class="">
      <form action="#" class="example ng-untouched ng-pristine ng-valid" style="float:right;padding: 12px;
    background: #8050fa;
    border-radius: 29px;
    color: #fff;
    font-size: 14px;
    border: 1px solid #8050fa;margin:20px;">
        <button type="submit"><i class="fa fa-plus-square-o"></i></button>
      </form>
    </div>-->
    <!--<nav id="nav-menu-container">
      <div>
        <button type="submit"><i class="fa fa-plus-square-o"></i></button>
      </div>

    </nav>-->
    <!--<div class="row align-items-center justify-content-between d-flex">
      <div id="logo">
        <a href="index.html"><img src="img/logo.png" alt="" title="" /></a>
      </div>
      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="index.html">Home</a></li>
          <li><a href="category.html">Category</a></li>
          <li><a href="archive.html">Archive</a></li>
          <li class="menu-has-children">
            <a href="">Pages</a>
            <ul>
              <li><a href="elements.html">Elements</a></li>
            </ul>
          </li>
          <li class="menu-has-children">
            <a href="">Blog</a>
            <ul>
              <li><a href="blog-details.html">Blog Details</a></li>
            </ul>
          </li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </nav>
    </div>-->
  </div>
</header>
<!-- End header Area -->
